@import "variables";

*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: $main-font;
   
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
    color:$main-color;
}



img{
    width:100%;
}

.container{
    width:1100px;
    margin:auto;
}




header{
    .main-nav{
        
      .menu{
        height: 60px;
         display: flex;
          align-items: center;
          justify-content:space-between;
          border:1px solid $main-menu-border;
          padding:0.5rem 2rem;
         
          .items
          {
            cursor: pointer;
            display:flex;
            align-items: center;

            i
            {
                font-size: 1.7rem;
            }

            h3
            {
                position: absolute;
                top:
                left:20px;
                color:$main-color;
                font-size: 0.8rem;
                text-align: center;
                font-weight: lighter;
                
            }
          }
      }
      .menu li:first-child span{
         font-size: 0.8rem;
         margin-left:10px;
         font-weight: 700;
      }
      .menu div:nth-child(2)
      {
         position: relative; 
         display:flex;
         flex-direction: column;
         align-items:center;
         
        border:1px solid red;
      }
      .menu li:nth-child(3) a{
        font-size: 0.8rem;
        font-weight: 700;
     }
     
}
}